.param{
  width: 100%;
  & > .row {
    padding: 10px 0;
  }
}

.param-property{
  width: 100%;
}

#testEndpointBut799{
  padding-left:2em;
  padding-right:2em;
}

.toggle-examples{
  float: right;
  cursor: pointer;
  color: #868e96;
  &:hover{
    color: darken($color: #868e96, $amount: 10%)
  }
}

.samples, .content{
  transition: unset !important;
}

textarea{
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 0.66rem;
}

.dropdown-menu{
  width:100%;
  text-align:center;
}

.dropdown-menu li{
  &:hover{
    color: darken($color: #868e96, $amount: 10%);
    background-color: darken($color: white, $amount: 10%);
  }
}
