<div class="alert alert-warning" role="alert">
  <strong>Substitute -> {{this.header}}:</strong>
<div>
</div>

  <div class="container-fluid">
    <div class="row no-gutters">
      <div class="col-10">
        <input id="input" type="file" accept="image/x-png,image/jpeg" (change)="this.getBytes($event)" #fileInput>
      </div>
      <div class="col-1">
        <span (click) = "this.clearInput()" *ngIf="this.hasContent" class="badge badge-danger">X</span>
      </div>
      <div class='col-1'>
        <span *ngIf="this.hasContent" (click) = "this.applyButtonClicked()" class="badge badge-success">Apply</span>
      </div>
    </div>
  </div>
</div>


<!--
<input *ngIf="parm.schema.properties.image_bytes" class="image-input" type="file" accept="image/x-png,image/jpeg" (change)="this.getBytes($event)">
-->
