.request_url {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.response{
  code {
    max-height: 300px;
  }
}

.no-endpoint-data{
  padding: 1rem
}

.response_body {
  background-color: #3f474e;
  position: relative;

  .copy-to-clipboard{
    position: absolute;
    right: 0;
    top: 0;
    line-height: initial;
    opacity: .3;
    transition: all 0.3s;

    &:hover{
      opacity: 1;
    }
  }
}

tab{
  pre{
    font-size: 0;
    code{
      font-size: 1rem;
    }
  }
}
.modal-dialog{
  .response_body{
    pre{
      font-size: 0;
    }
  }
}

.modal-dialog{
  .hljs{
    font-size: 0.87rem;
  }
  code{
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;;
  }
}

@media (max-width: 992px) {
  #swagger_sidebar {
    position: fixed;
    max-height: 100vh;
    overflow: scroll;
    top: 0;
  }

  #resources_container{
    margin-left: 25%;
  }
}
