.request_url {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.response{
  code {
    max-height: 300px;
  }
}

.no-endpoint-data{
  padding: 1rem
}

.response_body {
  background-color: #3f474e;
}

tab{
  pre{
    font-size: 0;
    code{
      font-size: 1rem;
    }
  }
}
.modal-dialog{
  .response_body{
    pre{
      font-size: 0;
    }
  }
}

.modal-dialog{
  .hljs{
    font-size: 0.87rem;
  }
  code{
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;;
  }
}
