
<div id="appEndPoint" *ngIf="!(this.endpoint.type === 'websocket')">
  <app-example-collapsible class="request-body-sample" (clickedSample)="this.clickedBodySample.emit($event)" *ngIf="this.requestSchema" [header]="'Body Sample'" [type]="'sample'" [schema]="this.requestSchema"></app-example-collapsible>
  <app-example-collapsible *ngIf="this.requestSchema" [header]="'Body Schema'" [type]="'schema'" [schema]="this.requestSchema"></app-example-collapsible>

  <app-example-collapsible *ngIf="this.responseSchema" [header]="'Response Sample'" [type]="'sample'" [schema]="this.responseSchema"></app-example-collapsible>
  <app-example-collapsible *ngIf="this.responseSchema" [header]="'Response Schema'" [type]="'schema'" [schema]="this.responseSchema"></app-example-collapsible>
</div>


<div id="socketEndpoint" *ngIf="this.endpoint.type === 'websocket'">
  <!--Request Messages-->
  <div id="{{'request' + j}}" *ngFor="let m of this.endpoint?.requestMessages | getIndex: this.showRequestMessageOfIndex; let j = index">
    <app-example-collapsible id="{{'requestSample' + j}}" (clickedSample)="this.clickedBodySample.emit($event)" *ngIf="m.schema" [header]="'Request Sample'" [type]="'sample'" [schema]="m.schema"></app-example-collapsible>
    <app-example-collapsible id="{{'requestSchema' + j}}" *ngIf="m.schema" [header]="'Request Schema'" [type]="'schema'" [schema]="m.schema"></app-example-collapsible>
  </div>
  <!--Response Messages-->
  <div style="padding: 20px 20px 20px 20px">
    <nav class="">
      <nav routerLinkActive="active">
        <h5>Responses</h5>
        <tabset>
          <tab *ngFor="let m of this.endpoint?.responseMessages; let i = index" heading="{{('Response ' + (1+i))}}" id="{{'response' + i}}">
            <div class='socketMessageDescription'style="padding: 5px">
              {{m.description}}
            </div>
            <app-example-collapsible id="{{'responseSample' + i}}" *ngIf="m.schema" [header]="'Sample'" [type]="'sample'" [schema]="m.schema"></app-example-collapsible>
            <app-example-collapsible id="{{'responseSchema' + i}}" *ngIf="m.schema" [header]="'Schema'" [type]="'schema'" [schema]="m.schema"></app-example-collapsible>
          </tab>
        </tabset>
      </nav>
    </nav>
  </div>
</div>
<h5 *ngIf="(!this.responseSchema && !this.requestSchema) && (!_isArray(this.endpoint.requestMessages) && !_isArray(this.endpoint.responseMessages))" class="no-samples text-muted">No Samples</h5>
