<div class="schema-description rounded">
  <span class="strong objectName">
    <span class="bracketsIcon"></span>
    <span class="objectNameText">{{this.title.toUpperCase()}}</span>
  </span>

  <div [id]="p" class="schema-property" *ngFor="let p of (this.schema.properties ? this.Object.keys(this.schema.properties) : [])">
    <span class="propLabels">
      <span class="propName propOpt">
        {{p}}
      </span>
      <span *ngIf="this.schema.properties[p].type" title="{{this.schema.properties[p].type}}">
        <span class="propType">{{this.schema.properties[p].type}}</span>
        <span *ngIf="this.schema.properties[p].type == 'array'">
          <span *ngIf="this.schema.properties[p]?.items?.$$ref">
            /[{{this.schema.properties[p].items.$$ref.split('/').pop()}}]
          </span>
          <span *ngIf="!this.schema.properties[p].items.$$ref && this.schema.properties[p].items.type">
            /[{{this.schema.properties[p].items.type}}]
          </span>
        </span>
        <span *ngIf="this.schema.properties[p].type == 'object'">
          <span *ngIf="this.schema.properties[p].$$ref">
            /[{{this.schema.properties[p].$$ref.split('/').pop()}}]
          </span>
        </span>
      </span>
      <span class="propOptKey text-muted">
        {{this.getFieldRequirementText(this.schema.properties[p]?.required)}}
      </span>
    </span>
    <span *ngIf="this.schema.properties[p].description; else noDescr" class="propDesc">{{this.schema.properties[p].description}}</span>
    <ng-template #noDescr>
        <span class="propDesc text-muted">No description</span>
    </ng-template>
  </div>



</div>


<div *ngFor="let p of (this.schema.properties ? this.Object.keys(this.schema.properties) : [])">
  <app-param-console [title]="p" *ngIf="this.schema.properties[p].type == 'object'" [schema]="this.schema.properties[p]"></app-param-console>
  <app-param-console [title]="p" *ngIf="this.schema.properties[p].type == 'array' && this.schema.properties[p].items && this.schema.properties[p].items.type == 'object'" [schema]="this.schema.properties[p].items"></app-param-console>
</div>
