<!--
Make sure to apply the class of alt for each alt input you make
-->

<!--
For Type: String && Format: Byte, ex Accept: image/x-png,image/jpeg
-->
<app-alt-imagefile-upload class="alt" [header]="this.header" [type]="this.type" [format]="this.format" (event)="this.event.emit($event)" *ngIf="this.type.toLowerCase() == 'string' && this.format == 'byte'"></app-alt-imagefile-upload>

<!--
For Type: file, ex Accept: all files
-->
<app-alt-file-upload class="alt" [header]="this.header" [type]="this.type" [format]="this.format" (event)="this.event.emit($event)" *ngIf="this.type.toLowerCase() == 'file'"></app-alt-file-upload>
