/* You can add global styles to this file, and also import other style files */

@import "./functions";
@import "./bootstrap";
@import './swagger-bootstrap-ui/swagger-bootstrap-ui';
@import './json-formatter';
@import './slyce';


.nav-tabs .nav-link.active{
  background-color: transparent;
  border-color: #8898aa #8898aa #f7f9fa;
}


.card-body {
  flex: 1 1 auto;
  padding: 1.25rem;
}


.break-all {
  word-break: break-all;
}

.text-shorten {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  display: block;
}

textarea{
  position: relative;
  z-index: 99;
  resize: both;
}


textarea {
  white-space: nowrap;
  min-height: 200px;
}

@media (min-width: 576px) {
  .modal-xlg {
    width: 90%;
    max-width: 1000px;
  }
}

.wiggle {
  animation: wiggleAnimation 0.2s;
  animation-iteration-count: 2;
}

@keyframes wiggleAnimation {
  0% { transform: translate(5px, 0px) rotate(0deg); }
  25% { transform: translate(0px, 0px) rotate(0deg); }
  50% { transform: translate(-5px, 0px) rotate(0deg); }
  75% { transform: translate(0px, 0px) rotate(0deg); }
  100% { transform: translate(5px, 0px) rotate(0deg); }
}
